img{display: block;margin:96px auto 0 auto;}
form{padding-top:14px;
  input{display: block;width:298px;border:1px solid #efefef;padding:10px;color:#969696;margin:14px auto 0 auto;}
  #logbtn{color:#fff;background:#ff498c;}
}
