body{text-align: center;
     img{
     	margin:97px 0 13px 0;
     }
     h1{
     	padding-top:26px;font-weight: 500;color:#000;
     }
}
form{padding-top:14px;
	input{display: block;width:298px;border:1px solid #efefef;padding:10px;color:#969696;margin:14px auto 0 auto;}
	#regbtn{color:#fff;background:#ff498c;}
}

